{% extends "layout.html" %}

{% block title %}Create new project{% endblock %}

{% block body %}
<div class="newproject-mainbody">
    <h2>New Project</h2>
    <form action="/newproject" method="POST">
        <table id="project-info" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="2">1. Project Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 500px;">ID:</td>
                    <td id="project-id"><input name="project-id" id="id-value" type="text" onchange="checkvalidid()" value="{{defid}}"></td>
                </tr>
                <tr>
                    <td>Project Title:</td>
                    <td><input name="project-title" type="text"></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td><select name="project-currency" id="project-currency" onchange="forwardcurrency()">
                        {% for cur in currency %}
                        {% if cur[3] == 1 %}
                        <option value="{{cur[0]}}" data-sym="{{cur[1]}}">{{cur[1]}}: {{cur[2]}}</option>
                        {% endif %}
                        {% endfor %}
                        {% for cur in currency %}
                        {% if cur[3] == 0 and cur[4] == 1 %}
                        <option value="{{cur[0]}}" data-sym="{{cur[1]}}">{{cur[1]}}: {{cur[2]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Payment Terms</td>
                    <td><select name="project-terms" id="project-terms">
                        <option value="blank"></option>
                        {% for term in terms %}
                        <option value="{{term}}">{{term}}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Swift Code:</td>
                    <td><input name="swiftcode" type="checkbox"></td>
                </tr>
            </tbody>
        </table>
        <table id="customer-details" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="2">2. Customer Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 500px;">Customer Name: </td>
                    <td><select name="customer-id" id="customer-id" onchange="showcusinfo(this)">
                        <option value="blank"></option>
                        {% for cus in customer %}
                        <option value="{{cus[0]}}" id="{{cus[1]}}">{{cus[1]}}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Customer Address: </td>
                    <td id="customer-address"></td>
                </tr>
                <tr>
                    <td>Customer Telephone: </td>
                    <td id="customer-telephone"></td>
                </tr>
            </tbody>
        </table>
        <table id="item-entries" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="7">3. Item Entries</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th style="width: 100px;">Item No.</th>
                    <th>Description</th>
                    <th style="width: 100px;">Quantity</th>
                    <th style="width: 100px;">UOM</th>
                    <th style="width: 150px;">Unit Price</th>
                    <th style="width: 150px;">Total</th>
                    <th style="width: 100px;">Del</th>
                </tr>
            </thead>
            <tbody id="itementriestbody">
                <tr>
                    <td class="counterCell"></td>
                    <td id="description1"><input class="item-table" type="text" maxlength="50" name="item-description[]" required></td>
                    <td id="quantity1"><input class="item-table" type="number" min="0" step="any" name="item-quantity[]" onchange="calculatetotalprice(this)" required></td>
                    <td id="uom1"><input class="item-table" type="text" maxlength="5" name="item-uom[]" required></td>
                    <td id="unitprice1"><input class="item-table" id="input-unitprice1" min="0" step="any" type="number" name="item-unitprice[]" onchange="calculatetotalprice(this)" required></td>
                    <td id="totalprice1"></td>
                    <td id="delete1"><button onclick="deleteitemrow(this)">Delete</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><button class="btn btn-outline-info" onclick="addrowitems()">Add Row</button></td>
                    <td colspan="4" style="text-align: right;" id="grandtotal"></td>
                    <td id="grandtotalamount"></td>
                    <td></td>
                </tr>
                <!--<tr>
                    <td colspan="5" style="text-align: right;">Grand Total (MYR)</td>
                    <td></td>
                    <td></td>
                </tr>-->
            </tfoot>
        </table>
        <table id="quotation-details" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="2">4. Quotation Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 500px;">Issue Date: </td>
                    <td><input name="issuedate" id="issuedate" type="date"></td>
                </tr>
                <tr>
                    <td>Payment: </td>
                    <td>
                        <table id="percent-table">
                            <tbody>
                                <tr>
                                    <td><input name="percent[]" id="percent1" type="number" onchange="addpercentrow()"></td>
                                    <td>% upon</td>
                                    <td><input name="remark[]" id="remark1" type="text"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

<script>
    var def_prjid = "{{defid}}"
    function showcusinfo(cus) {
        var cus_id = cus.value;
        var cus_db = {{ customer | tojson }};
        for (i=0; i < cus_db.length; i++) {
            if (cus_db[i][0] == cus_id) {
                document.getElementById("customer-address").innerHTML = cus_db[i][2];
                document.getElementById("customer-telephone").innerHTML = cus_db[i][3];
                break;
            } else {
                document.getElementById("customer-address").innerHTML = "";
                document.getElementById("customer-telephone").innerHTML = "";
            }
        }
    }

    function checkvalidid() {
        var cell_projid = document.getElementById("project-id");
        var projids = {{ projids | tojson }};
        var user_projid = document.getElementById("id-value").value;
        for (i=0; i < projids.length; i++) {
            if (user_projid == projids[0]) {
                cell_projid.innerHTML = '<input name="project-id" id="id-value" type="text" onchange="checkvalidid()" value='+def_prjid+'>' + "  ID's been taken. Use this instead."
                break
            } else {
                cell_projid.innerHTML = '<input name="project-id" id="id-value" type="text" onchange="checkvalidid()" value='+user_projid+'>' + "  ID is valid."
            }
        }
    }
</script>
<style>
    table tbody {
        counter-reset: rowNumber;
    }
    table tbody tr {
        counter-increment: rowNumber;
    }
    .counterCell:before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>
{% endblock %}