{% extends "layout.html" %}

{% block title %}View Project{% endblock %}

{% block body %}
<div class="viewproject-mainbody">
    <h2>View Project</h2>
    <div class="viewproject-leftcontent">
        <table id="view-projectinfo" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="2">1. Project Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 250px;">ID:</td>
                    <td id="view-projectid" name="projectid"></td>
                </tr>
                <tr>
                    <td>Project Title:</td>
                    <td name="view-projecttitle" id="projecttitle"></td>
                </tr>
                <tr>
                    <td>Currency:</td>
                    <td name="view-projectcurrency" id="projectcurrency"></td>
                </tr>
                <tr>
                    <td>Payment Terms:</td>
                    <td name="view-projectterms" id="projectterms"></td>
                </tr>
                <tr>
                    <td>Swift Code:</td>
                    <td name="view-swiftcode" id="swiftcode"></td>
                </tr>
            </tbody>
        </table>
        <table id="view-cusinfo" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="2">2. Customer Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 250px;">Customer Name: </td>
                    <td name="view-customerid" id="customerid"></td>
                </tr>
                <tr>
                    <td>Customer Address: </td>
                    <td name="view-customeraddress" id="customeraddress"></td>
                </tr>
                <tr>
                    <td>Customer Telephone: </td>
                    <td name="view-customertelephone" id="customertelephone"></td>
                </tr>
            </tbody>
        </table>
        <table id="view-itemdetails" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="7">3. Item Entries</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th style="width: 100px;">Item No.</th>
                    <th>Description</th>
                    <th style="width: 100px;">Quantity</th>
                    <th style="width: 100px;">UOM</th>
                    <th style="width: 150px;">Unit Price</th>
                    <th style="width: 150px;">Total</th>
                    <th style="width: 100px;">Del</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table id="view-otherdetails" class="table table-bordered stripped">
            <thead>
                <tr>
                    <th colspan="2">4. Others</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 250px;">Project Issue Date: </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Payment Schedule: </td>
                    <td>
                        <table id="percent-table">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>% upon</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="viewproject-rightcontent">

    </div>
</div>
{% endblock %}